{% extends "layout.html" %}

{% block title %}
    {{ view_name }}
{% endblock title %}

{% block main %}

<div class="container">
    <h1>{{ view_name }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ product_form}}
        <div id="formset">
            {{ image_formset.management_form }}
            {% for image_form in image_formset %}
                <div class="form-row">
                    {{ image_form }}
                </div>
            {% endfor %}
        </div>
        <button class="form-btn" type="button" id="add-image">Add another image</button>
        <button class="form-btn" type="submit">Save</button>
    </form>

    <!-- Empty form template for new images -->
    <div id="empty-form" style="display: none;">
        <div class="form-row">
            {{ image_formset.empty_form }}
        </div>
    </div>
</div>

{% endblock main %}


{% block scripts %}

<script>
    $('#id_categories').select2();
</script>

<script>
    $(document).ready(function() {
        let formIdx = $('#id_images-TOTAL_FORMS').val();
        $('#add-image').click(function() {
            $('#formset').append($('#empty-form').html().replace(/__prefix__/g, formIdx));
            formIdx++;
            $('#id_images-TOTAL_FORMS').val(formIdx);
        });
    });
</script>

{% endblock scripts %}

